* {
	text-align: center;
}

.jumbotron {
	/*------try putting into html body--*/
	/*background-color: black;*/
/*	height and width do nothing to help size of image*/
	background-image: url(../images/theater2.jpg);
	height: auto;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

h1 {
	padding-top: 150px;
}

.question {
	text-shadow: 2px 2px white;
}

.questionholder {
	padding-top: 40px;
}

.correct-answer {
	color: red;
	text-shadow: 2px 2px white;
}

.btn {
	margin: 20px;
}