* {
	text-align: center;
}

.jumbotron {
	/*background-color: black;*/
/*	height and width do nothing to help size of image*/
	background-image: url(../images/theater2.jpg);
	height: 600px;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

h1 {
	padding-top: 130px;
}

.questionholder {
	padding-top: 40px;
}

.btn {
	margin: 20px;
}